<link rel="stylesheet" href="/css/createpost.css">
<div class="createpost-container">
    <h3>Criando uma nova postagem</h3>
    <form action="/savecreatepost" method="post">
        <div class="inputaria">
            <label for="title">Titulo:</label>
            <input type="text" name="title" id="title" placeholder="Titulo da postagem">
        </div>
        <div class="inputaria">
            <label for="content">Conteudo da postagem:</label>
            <textarea name="content" id="content" rows="10" placeholder="Conteudo da postagem..."></textarea>
        </div>
        <input type="submit" value="Publicar">
    </form>
</div>