input[type=submit]{
    cursor: pointer;
}

#navlogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background-color: rgb(0, 105, 204);
}
#navlogin .logo i{
    font-size: 30px;
    padding-right: 5px;
}
#navlogin .logo{
    margin-top: -5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.content-login{
    background-color: bisque;
    background-image: url("/img/loginbackground.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.register-page-content{
    display: flex;
    justify-content: right;
}
.register-content form h2{
    margin: 0;
    margin-bottom: 0px;
}
.register-content form hr{
    width: 80px;
    border: rgb(0, 105, 204) 1px solid;
    border-radius: 50px;
    margin: 0;
    
}
.register-content form p{
    font-size: .9em;
    color: #444;
    text-align: justify;
    text-indent: 20px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.register-content{
    background-color: white;
    border-radius: 15px;
    width: 400px;
    padding: 20px 30px;
    margin-top: 15px;
    margin-right: 20px;
}
.div-register{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}
.register-content form .div-register input{
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.register-content form .btn-register input[type=submit]{
    background-color: rgb(0, 105, 204);
    color: white;
    padding: 10px 50px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.register-content form .btn-register{
    margin-top: 10px;
}

.warninglogin-message{
    padding: 0px 20px;
    padding-right: 5px;
    color: #333;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between; 
  }
  .warninglogin-message p{
    display: flex;
    align-self: center;
    margin: 0;
  }
  .warninglogin-message button{
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 0;
        margin: 0;
        font-size: 1.5em;
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 50px;
        border: none;
        background-color: transparent;
    }
    .warninglogin-message button i {
        display: flex;
        margin: auto;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
    }

    .warninglogin-message{
        border: solid 1px rgb(240, 162, 162);
        background-color: rgb(255, 213, 213);
    }

    div.div-register p.reg-warning{
        margin: 0;
        padding: 0;
        text-indent: 0;
        font-size: 0.8em;
        color: rgb(202, 3, 3);
    }